<br>
<br>
<br>
<br>
<br>
<center>
  <span style="font-size: 80px; color:#FFCE54">Insta<span style="color:#FFCE54">Tags</span></span>
  <h4 class="offset">Latest tagged pictures in Instagram</h4>

  <h4 style="color:white"class="description">
    <br><br>
    Search for tags and see the pictures rolling in the background
  </h4><br>

  <% unless @user %>
    <a href="/oauth/connect" class="btn btn-success">Sign in with Instagram <img src="/images/icn_join_w.png" alt="Join" height="20" width="20"></a>
  <%end%>
</center>
